@import "./variables";


.step1-new {
  margin-top: 60px;
}

.step1 {
  .list-title{
    border-bottom:$grey-1 4px solid;
    width: 100%;
    margin: 0;
  }
  
  ol{
    list-style-type: none;
    padding-right: 0;
    > li{
      border-bottom:$grey-1 1px solid;
      padding: 8px 0;
      &:last-child{
        border-bottom:$grey-1 4px solid;
      }
    }
  }

}

.step3 {
  .box {
    .btn-primary {
      width: 200px;
      margin: 10px;
      height: 70px;
      white-space: inherit;
    }

    .btn-primary {
      color: white;
      border-color: gray;
      background-color: gray;

      &:hover {
        color: black;
        border-color: gray;
        background-color: white;
      }
    }
  }
}

.step4 {
  padding-bottom: 70px;

  input[type="checkbox"], input[type="radio"] {
    &:after {
      position: inherit !important;
      display: inherit !important;
      width: 18px !important;
      margin-right: 3px;
    }
  }
  .myCheckbox{
    &.form-check {
      padding: 0;
    }
  }
  .hideCheckbox {
    input {
      display: none;
    }
    .btn-outline-info {
      padding: 15px;
      color: black;
      border-color: var(--primary-color);
      &.active, &:hover {
        color: white;
        border-color: var(--primary-color);
        background-color: var(--primary-color);
      }
    }
  }
}

.step5 {
  input[type="checkbox"], input[type="radio"] {
    &:after {
      position: inherit !important;
      display: inherit !important;
      width: 18px !important;
      margin-right: 3px;
    }
  }
  .myCheckbox{
    &.form-check {
      padding: 0;
    }
  }
}


.step6 {
  padding-bottom: 70px;

  input[type="checkbox"], input[type="radio"] {
    &:after {
      position: inherit !important;
      display: inherit !important;
      width: 18px !important;
      margin-right: 3px;
    }
  }
}

.modal-open {
  input[type="checkbox"], input[type="radio"] {
    &:after {
      position: inherit !important;
      display: inherit !important;
      width: 18px !important;
      margin-right: 3px;
    }
  }
}

.stickyFooter {
  position: fixed;
  //bottom: 0;
  bottom: 76px;
  margin: 0 auto;
  right: 0;
  background: white;
  box-shadow: 0px 3px 10px var(--primary-color-light);
}

.step7 {
  #NedarimFrame {
    &.hasBorder {
      border: 1px solid red;
    }
  }
}

.verse-box{
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px;
}

.spacer{
  margin: 6px 0;
  // color: black;
  border-color: black;
}

.custom-checkbox{

  > .form-check-input{
    position: absolute;
    visibility: hidden;
  }

  .form-check-input ~ .form-check-label{
    background-color: $grey-1;
    border-radius: 10px;
    color: white !important;
    padding: 5px;
    font-weight: 900;
    line-height: 18px;
  }


  .form-check-input:checked ~ .form-check-label{
    background-color: $secondary;
    //border-radius: 10px;
  }
  
  .form-check-input:not(:checked) ~ .form-check-label{
      background-color: $grey-1;
      //border-radius: 10px;
  }
  

}

.verse-checkbox{
  padding-left: 0;
  //cursor: pointer;

  &:focus{
    border:black 1px solid;
  }
  > .form-check-input{
    position: absolute;
    visibility: hidden;
  }

  > .form-check-label{
    width: 100%;
  }

  // .form-check-input[disabled] ~ .form-check-label, 
  .form-check-input:disabled ~ .form-check-label{
    background-color: #DCDCDC;
    color: $text-disabled;
    .gray{
      color: $text-disabled;
    }
    .spacer{
      // color: $text-disabled;
      border-color: $text-disabled;
    }
  }

  // .form-check-input[checked] ~ .form-check-label,
  .form-check-input:checked ~ .form-check-label{
    background-color: $secondary;
    color: white !important;
    border-radius: 10px;
    .gray{
      color: white;
    }
    .spacer{
      // color: white;
      border-color: white;
    }
  }

  .form-check-input:not(:checked) ~ .form-check-label{
    background-color: white;
    //border-radius: 10px;
}
}