@import './variables';

body {
  font-weight: 500;
  color: $primary;
  margin: 0;
  font-family: "Frank Ruhl Libre", -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  /*background*/
  /*background: rgb(255,255,255);*/
  /*background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(180,136,17,0.28755252100840334) 100%, rgba(0,0,0,0) 100%);*/
  /*background-attachment: fixed;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-text {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

hr{
  width: 100%;
  border: 1px solid rgba(234, 234, 234, 1)
}